<div class="row mt-4">
  <div class="col-2"></div>
  <div class="col-8">
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Age</th>
      </tr>
      <tr *ngFor="let item of objArray2">
        <td>{{ item["First Name"] }}</td>
        <td>{{ item["Last Name"] }}</td>
      </tr>
    </table>
  </div>
  <div class="col-2"></div>
</div>

<h1>In Display Data</h1>

{{ display_string }}
{{ display_number }}
{{ display_bool }}

<h4>Array From Parent Component</h4>
{{ numberArr }}

<h4>Object Array</h4>
{{ objArray | json }}

<h4>Optimised Method</h4>
{{ objArray2 }}
