<div class="row">
  <div class="col-4"></div>
  <div class="col-4">
    <div class="form-group">
      <label>Enter Name</label>
      <input type="text" class="form-control" [(ngModel)]="name" />
    </div>
    <div class="form-group">
      <label>Enter Age</label>
      <input type="number" class="form-control" [(ngModel)]="age" />
    </div>
    <div class="form-group">
      <label>Do you have driving license?</label>
      <select class="form-control" [(ngModel)]="lFlag">
        <option [value]="null" disabled>Please Select</option>
        <option [value]="'Yes'">Yes</option>
        <option [value]="'No'">No</option>
      </select>
    </div>
    <button type="button" class="btn btn-success" (click)="onClickAdd()">
      Add
    </button>
  </div>
  <div class="col-4"></div>
</div>

<!--
  Parent - Child Communication,
  property binding - []=""
  @Input()
-->
<button class="btn btn-outline-primary" (click)="onChangeInputParam()">
  Change Input Param
</button>
<app-display-table
  [my_string]="string_pass"
  [my_number]="number_pass"
  [my_boolean]="bool_pass"
  [myArray]="numberArr"
  [objArray]="objArray"
  [objArray2]="objArray2"
>
</app-display-table>
