<div class="jumbotron">
  <h1>To Do App</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="form-group">
        <label>Add an Event</label>
        <!-- <input
          type="text"
          class="form-control"
          [value]="eventString"
          (input)="onChangeEventInput($event)"
        /> -->
        <input type="text" class="form-control" [(ngModel)]="eventString" />
        <button class="btn btn-success mt-2" (click)="addEvent()">
          Add an Event
        </button>
      </div>
    </div>
    <div class="col-4"></div>
    <div class="col-4">
      <ul class="list-group">
        <li
          *ngFor="let item of getEventsArray(); let i = index"
          class="list-group-item"
          [ngClass]="{
            'list-group-item-success': i % 2 == 0,
            'list-group-item-danger': i % 2 != 0
          }"
          (click)="deleteEvent(i)"
        >
          {{ item | titlecase }}
        </li>
      </ul>
    </div>
  </div>
</div>
<!--
  TextBox = Meeting at 5 pm
  value = property binding
  input = event bind
-->
<!--
<input type="text" class="form-control" [(ngModel)]="name" />
<h1>Your Name {{ name }}</h1> -->
<!-- <div class="row ml-2">
  <div class="col-4">
    <p *ngFor="let el of testArr">{{ el | titlecase }}</p>
  </div>
</div>
<p class="ml-5">{{ salary | currency: "INR" }}</p>

<p class="ml-5">Date is {{ today | date: "dd-MM-yyyy" }}</p>

<button class="btn btn-primary" (click)="changeDate()">change date</button> -->

<p class="ml-5">
  {{ name | upperCasePipe }}
</p>
